.container {
    > div > div {
        border: 1px solid #d8d8d8;
        padding: 0 16px 16px 16px;
        background-color: #fff;
        margin-top: 10px;
    }
    h4 {
        line-height: 52px;
    }
}

.button-sizes {
    button {
        width: 90px;
    }
}

.dropdown-buttons {
    > div > div {
        display: inline-block;
        margin-right: 20px;
    }
}